*.old
**/__pycache__/
**/dump/
**/outputs/
**/outputs_old/
**/oldenv/
**/data_test/
net_graph.jpg
net_graph.jpg.pdf
*.pyc
**/old/**
*.npy
**/.ipynb_checkpoints/*

**/data/

build/
.eggs/
*.egg-info/

*.json
*.txt
