[build-system]
requires = ["setuptools>=64"]
build-backend = "setuptools.build_meta"

[project]
name = "Early_Exit_Networks"
version = "0.0.1"
authors = [
    { name="Ben Biggs", email="bb2515@ic.ac.uk" }
]
description="A package for training, testing, and exploring early-exit networks in Pytorch & beyond"
readme = "README.md"
requires-python = ">=3.7"
classifiers = [
    "Programming Language :: Python :: 3",
]
dependencies = [
    "torch>=1.8.0",
    "torchvision>=0.8.2",
    "onnx==1.8.1",
    "onnxruntime==1.7.0",
    "onnxoptimizer==0.2.6",
    "onnx-simplifier>=0.3.5",
    "numpy>=1.19.2",
    "scipy>=1.2.1",
    "matplotlib",
]

[project.optional-dependencies]
dev = ["pytest==5.0.0", "pytest-cov[all]", "mypy==0.910", "black==21.10b0"]

[project.urls]
Homepage = "https://github.com/biggsbenjamin/earlyexitnet"
repository = "https://github.com/biggsbenjamin/earlyexitnet"

# linters
[tool.black]
target-version = ['py39']
line-length = 120

[tool.mypy]
python_version = "3.9"
no_strict_optional = true
ignore_missing_imports = true
check_untyped_defs = true
